html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1998px 935px #fff, 1291px 1665px #fff, 271px 1249px #fff,
    249px 1555px #fff, 985px 1721px #fff, 1307px 1946px #fff, 859px 36px #fff,
    464px 234px #fff, 533px 177px #fff, 1284px 1697px #fff, 1256px 1473px #fff,
    1055px 712px #fff, 81px 1374px #fff, 1428px 438px #fff, 831px 562px #fff,
    684px 10px #fff, 452px 348px #fff, 1525px 995px #fff, 127px 136px #fff,
    1496px 1677px #fff, 1544px 1980px #fff, 924px 1921px #fff,
    1052px 1465px #fff, 1521px 1658px #fff, 30px 1953px #fff, 583px 228px #fff,
    1422px 410px #fff, 961px 824px #fff, 454px 1736px #fff, 1397px 1060px #fff,
    1928px 1049px #fff, 308px 25px #fff, 1678px 478px #fff, 374px 1515px #fff,
    487px 739px #fff, 318px 1687px #fff, 446px 1725px #fff, 530px 127px #fff,
    172px 840px #fff, 1552px 1720px #fff, 1259px 1513px #fff, 436px 1087px #fff,
    182px 1839px #fff, 1787px 1375px #fff, 1629px 1023px #fff,
    1839px 1547px #fff, 351px 7px #fff, 739px 382px #fff, 1178px 103px #fff,
    595px 37px #fff, 1202px 1085px #fff, 198px 1249px #fff, 621px 1143px #fff,
    456px 1872px #fff, 181px 770px #fff, 343px 624px #fff, 371px 279px #fff,
    897px 1610px #fff, 1771px 1249px #fff, 341px 425px #fff, 455px 1756px #fff,
    377px 1228px #fff, 395px 688px #fff, 365px 755px #fff, 1053px 1594px #fff,
    871px 696px #fff, 978px 1217px #fff, 1053px 731px #fff, 1653px 1464px #fff,
    1682px 945px #fff, 1464px 1268px #fff, 454px 125px #fff, 1429px 172px #fff,
    959px 466px #fff, 1848px 1748px #fff, 1631px 1652px #fff, 1732px 722px #fff,
    570px 941px #fff, 215px 1762px #fff, 1198px 906px #fff, 717px 427px #fff,
    1256px 1416px #fff, 128px 1957px #fff, 51px 245px #fff, 682px 635px #fff,
    1165px 919px #fff, 1440px 527px #fff, 247px 1755px #fff, 1462px 752px #fff,
    1026px 1175px #fff, 429px 1754px #fff, 680px 303px #fff, 745px 1781px #fff,
    1250px 1473px #fff, 693px 483px #fff, 519px 1092px #fff, 1632px 432px #fff,
    1469px 420px #fff, 87px 1057px #fff, 651px 75px #fff, 1342px 1830px #fff,
    1788px 974px #fff, 674px 134px #fff, 1528px 771px #fff, 1930px 30px #fff,
    1089px 796px #fff, 1505px 1263px #fff, 621px 1259px #fff, 522px 793px #fff,
    407px 1610px #fff, 179px 1104px #fff, 636px 511px #fff, 125px 1633px #fff,
    554px 1429px #fff, 511px 78px #fff, 587px 1299px #fff, 1980px 1567px #fff,
    279px 1530px #fff, 1752px 312px #fff, 983px 1511px #fff, 1388px 711px #fff,
    1518px 763px #fff, 1703px 510px #fff, 1px 868px #fff, 1508px 806px #fff,
    632px 751px #fff, 659px 458px #fff, 1639px 927px #fff, 593px 1383px #fff,
    720px 1821px #fff, 187px 478px #fff, 33px 1792px #fff, 911px 1244px #fff,
    436px 1983px #fff, 1544px 1142px #fff, 1676px 1519px #fff, 904px 192px #fff,
    642px 1351px #fff, 1174px 1847px #fff, 527px 674px #fff, 1809px 480px #fff,
    1667px 536px #fff, 1392px 1785px #fff, 751px 1411px #fff, 621px 1091px #fff,
    457px 657px #fff, 77px 1025px #fff, 977px 975px #fff, 284px 1330px #fff,
    1519px 107px #fff, 117px 1755px #fff, 669px 914px #fff, 1135px 1627px #fff,
    609px 1676px #fff, 39px 1637px #fff, 1645px 1440px #fff, 829px 20px #fff,
    268px 665px #fff, 1356px 489px #fff, 1644px 663px #fff, 235px 365px #fff,
    1197px 904px #fff, 287px 1810px #fff, 39px 301px #fff, 808px 480px #fff,
    1824px 1673px #fff, 1301px 1133px #fff, 1430px 10px #fff, 1538px 980px #fff,
    1055px 918px #fff, 639px 791px #fff, 1978px 1185px #fff, 370px 1027px #fff,
    706px 684px #fff, 592px 1977px #fff, 347px 1438px #fff, 126px 1117px #fff,
    1803px 1141px #fff, 1918px 1868px #fff, 1896px 196px #fff, 1910px 279px #fff,
    1917px 1543px #fff, 557px 503px #fff, 407px 342px #fff, 1607px 15px #fff,
    1486px 913px #fff, 1246px 847px #fff, 1876px 495px #fff, 1213px 316px #fff,
    1624px 210px #fff, 677px 1694px #fff, 932px 1608px #fff, 879px 1023px #fff,
    241px 665px #fff, 1716px 713px #fff, 1097px 1094px #fff, 1335px 1704px #fff,
    1826px 683px #fff, 66px 348px #fff, 101px 1404px #fff, 1104px 1465px #fff,
    663px 1908px #fff, 607px 170px #fff, 70px 984px #fff, 795px 442px #fff,
    1748px 1960px #fff, 100px 372px #fff, 1079px 566px #fff, 893px 1786px #fff,
    334px 1924px #fff, 812px 951px #fff, 1471px 614px #fff, 1602px 1949px #fff,
    625px 1222px #fff, 123px 1041px #fff, 1823px 318px #fff, 1020px 465px #fff,
    1823px 1267px #fff, 1981px 1130px #fff, 76px 994px #fff, 463px 703px #fff,
    1706px 1747px #fff, 1887px 1485px #fff, 661px 1754px #fff,
    1896px 1921px #fff, 377px 906px #fff, 1011px 1571px #fff, 1110px 297px #fff,
    113px 807px #fff, 1462px 1136px #fff, 405px 1558px #fff, 1067px 356px #fff,
    63px 47px #fff, 842px 1385px #fff, 1607px 308px #fff, 1440px 1104px #fff,
    218px 898px #fff, 1886px 668px #fff, 1622px 1297px #fff, 136px 1962px #fff,
    900px 318px #fff, 1411px 666px #fff, 617px 1055px #fff, 1800px 1850px #fff,
    1px 1492px #fff, 1992px 1312px #fff, 1832px 1488px #fff, 314px 1800px #fff,
    678px 1029px #fff, 624px 1796px #fff, 1822px 898px #fff, 157px 1331px #fff,
    744px 1133px #fff, 854px 734px #fff, 1099px 174px #fff, 1510px 406px #fff,
    360px 1828px #fff, 38px 1576px #fff, 125px 1px #fff, 12px 955px #fff,
    1452px 646px #fff, 1319px 70px #fff, 1431px 732px #fff, 1217px 1408px #fff,
    608px 1850px #fff, 1325px 866px #fff, 1316px 1256px #fff, 982px 1139px #fff,
    781px 1550px #fff, 936px 22px #fff, 31px 1123px #fff, 1232px 1473px #fff,
    398px 1708px #fff, 1477px 1906px #fff, 1149px 860px #fff, 1042px 430px #fff,
    26px 72px #fff, 1065px 255px #fff, 1112px 1422px #fff, 592px 946px #fff,
    673px 55px #fff, 61px 676px #fff, 867px 1996px #fff, 381px 259px #fff,
    1680px 1523px #fff, 736px 513px #fff, 1408px 212px #fff, 707px 1785px #fff,
    523px 1495px #fff, 226px 1583px #fff, 1079px 1836px #fff, 148px 9px #fff,
    1963px 1642px #fff, 300px 93px #fff, 608px 687px #fff, 1863px 1612px #fff,
    344px 608px #fff, 1656px 534px #fff, 585px 931px #fff, 1029px 135px #fff,
    686px 128px #fff, 866px 1603px #fff, 189px 578px #fff, 663px 909px #fff,
    1260px 475px #fff, 1290px 397px #fff, 1093px 845px #fff, 1716px 1211px #fff,
    1573px 5px #fff, 1562px 1928px #fff, 1827px 838px #fff, 1438px 1091px #fff,
    950px 391px #fff, 54px 92px #fff, 541px 1163px #fff, 1230px 1005px #fff,
    1902px 336px #fff, 498px 1027px #fff, 1680px 1664px #fff, 1694px 1962px #fff,
    82px 1942px #fff, 914px 793px #fff, 48px 738px #fff, 797px 1337px #fff,
    1171px 86px #fff, 972px 434px #fff, 190px 402px #fff, 479px 1815px #fff,
    288px 779px #fff, 869px 1859px #fff, 867px 896px #fff, 1354px 1784px #fff,
    413px 1753px #fff, 1524px 409px #fff, 1374px 1585px #fff, 1987px 494px #fff,
    629px 648px #fff, 261px 1393px #fff, 392px 947px #fff, 1146px 889px #fff,
    1606px 99px #fff, 1236px 631px #fff, 1616px 912px #fff, 870px 412px #fff,
    115px 440px #fff, 1389px 389px #fff, 1829px 567px #fff, 558px 1456px #fff,
    56px 1338px #fff, 652px 1897px #fff, 323px 1327px #fff, 1828px 1546px #fff,
    369px 1771px #fff, 1937px 1913px #fff, 1222px 859px #fff, 12px 1906px #fff,
    1069px 1227px #fff, 338px 642px #fff, 1924px 521px #fff, 1849px 650px #fff,
    478px 1425px #fff, 1277px 1853px #fff, 601px 133px #fff, 1441px 1292px #fff,
    1174px 1433px #fff, 751px 1093px #fff, 1898px 1518px #fff, 595px 1810px #fff,
    205px 1335px #fff, 741px 1940px #fff, 588px 696px #fff, 1351px 1263px #fff,
    1174px 1831px #fff, 610px 1911px #fff, 1490px 45px #fff, 788px 1486px #fff,
    23px 530px #fff, 716px 1981px #fff, 965px 648px #fff, 671px 1916px #fff,
    252px 968px #fff, 1787px 843px #fff, 1069px 190px #fff, 1609px 761px #fff,
    1431px 646px #fff, 1476px 1985px #fff, 124px 1302px #fff, 1671px 904px #fff,
    396px 1805px #fff, 1509px 1513px #fff, 950px 994px #fff, 1568px 700px #fff,
    176px 553px #fff, 1031px 1510px #fff, 100px 1531px #fff, 287px 60px #fff,
    865px 766px #fff, 637px 1540px #fff, 214px 116px #fff, 955px 1669px #fff,
    214px 1378px #fff, 955px 139px #fff, 1320px 501px #fff, 125px 1746px #fff,
    245px 54px #fff, 1084px 1774px #fff, 267px 621px #fff, 662px 1274px #fff,
    1272px 827px #fff, 1540px 78px #fff, 1620px 1201px #fff, 287px 1445px #fff,
    1894px 1664px #fff, 1431px 1502px #fff, 1140px 810px #fff, 1455px 167px #fff,
    653px 697px #fff, 187px 1328px #fff, 1504px 77px #fff, 328px 380px #fff,
    373px 596px #fff, 1041px 1691px #fff, 1829px 834px #fff, 1801px 1564px #fff,
    220px 1231px #fff, 410px 1024px #fff, 1899px 1393px #fff, 1608px 1733px #fff,
    779px 1951px #fff, 998px 228px #fff, 264px 500px #fff, 553px 1741px #fff,
    1306px 1782px #fff, 1764px 358px #fff, 709px 937px #fff, 1886px 1560px #fff,
    878px 60px #fff, 1239px 1224px #fff, 224px 1183px #fff, 1798px 535px #fff,
    84px 192px #fff, 264px 878px #fff, 1087px 486px #fff, 953px 1518px #fff,
    1670px 843px #fff, 1511px 1230px #fff, 1255px 170px #fff, 562px 558px #fff,
    236px 1008px #fff, 1163px 1363px #fff, 1023px 715px #fff, 1695px 1890px #fff,
    1342px 674px #fff, 515px 1684px #fff, 1760px 244px #fff, 530px 182px #fff,
    1751px 729px #fff, 89px 90px #fff, 1410px 1177px #fff, 156px 1702px #fff,
    697px 1966px #fff, 1328px 906px #fff, 1394px 1943px #fff, 525px 1695px #fff,
    171px 673px #fff, 549px 1843px #fff, 1579px 1353px #fff, 1038px 484px #fff,
    456px 180px #fff, 356px 1832px #fff, 1367px 236px #fff, 1189px 41px #fff,
    526px 1642px #fff, 1081px 713px #fff, 904px 1105px #fff, 1694px 1713px #fff,
    1948px 147px #fff, 1071px 1113px #fff, 1364px 948px #fff, 914px 79px #fff,
    1153px 432px #fff, 391px 619px #fff, 510px 297px #fff, 1097px 1479px #fff,
    1924px 4px #fff, 1933px 968px #fff, 497px 1383px #fff, 12px 1112px #fff,
    1721px 1308px #fff, 1442px 1098px #fff, 1750px 961px #fff, 633px 737px #fff,
    1388px 508px #fff, 852px 316px #fff, 1433px 291px #fff, 1407px 1714px #fff,
    105px 971px #fff, 161px 717px #fff, 740px 1710px #fff, 809px 1129px #fff,
    767px 318px #fff, 1346px 1036px #fff, 835px 1632px #fff, 669px 879px #fff,
    1746px 1790px #fff, 1553px 1918px #fff, 735px 1267px #fff, 1079px 776px #fff,
    1963px 183px #fff, 1498px 797px #fff, 1804px 1094px #fff, 1449px 1728px #fff,
    168px 1526px #fff, 1032px 1493px #fff, 1488px 1836px #fff, 1739px 329px #fff,
    1801px 1451px #fff, 1424px 1280px #fff, 1232px 1136px #fff,
    1209px 924px #fff, 1697px 49px #fff, 1185px 1663px #fff, 1971px 1694px #fff,
    1420px 319px #fff, 292px 368px #fff, 1755px 1479px #fff, 292px 392px #fff,
    1678px 1654px #fff, 1100px 201px #fff, 1418px 496px #fff, 1220px 1565px #fff,
    1928px 1835px #fff, 1514px 1418px #fff, 523px 149px #fff, 1447px 695px #fff,
    427px 759px #fff, 653px 1011px #fff, 795px 1908px #fff, 314px 1220px #fff,
    501px 1435px #fff, 1519px 1412px #fff, 88px 429px #fff, 1903px 180px #fff,
    946px 1333px #fff, 1387px 523px #fff, 1112px 485px #fff, 1832px 759px #fff,
    416px 1816px #fff, 948px 522px #fff, 889px 1539px #fff, 1274px 1554px #fff,
    14px 932px #fff, 1387px 112px #fff, 510px 83px #fff, 1454px 1633px #fff,
    1036px 838px #fff, 1709px 1323px #fff, 1402px 1127px #fff,
    1346px 1041px #fff, 1342px 241px #fff, 1064px 783px #fff, 238px 1477px #fff,
    422px 555px #fff, 1681px 202px #fff, 1855px 1470px #fff, 1929px 940px #fff,
    616px 1659px #fff, 914px 651px #fff, 951px 444px #fff, 1256px 105px #fff,
    673px 1090px #fff, 1884px 764px #fff, 441px 330px #fff, 1755px 1243px #fff,
    1565px 369px #fff, 1564px 42px #fff, 1050px 1053px #fff, 11px 246px #fff,
    197px 452px #fff, 589px 579px #fff, 1748px 850px #fff, 1261px 1096px #fff,
    1125px 623px #fff, 600px 1291px #fff, 1992px 68px #fff, 1615px 490px #fff,
    896px 947px #fff, 1258px 1195px #fff, 489px 1012px #fff, 542px 1289px #fff,
    1664px 589px #fff, 304px 939px #fff, 1145px 1382px #fff, 1396px 1047px #fff,
    578px 143px #fff, 1232px 34px #fff, 271px 1402px #fff, 559px 1926px #fff,
    1214px 879px #fff, 207px 1714px #fff, 293px 377px #fff, 880px 1846px #fff,
    332px 382px #fff, 1468px 42px #fff, 1636px 230px #fff, 316px 1766px #fff,
    1933px 1425px #fff, 1327px 1683px #fff, 1590px 1224px #fff, 287px 267px #fff,
    1912px 582px #fff, 1726px 1538px #fff, 11px 131px #fff, 1795px 6px #fff,
    590px 974px #fff, 400px 372px #fff, 1707px 129px #fff, 176px 362px #fff,
    90px 780px #fff, 1161px 1145px #fff, 1329px 1967px #fff, 1268px 1035px #fff,
    1313px 626px #fff, 1544px 1808px #fff, 1057px 1673px #fff, 658px 1778px #fff,
    63px 1510px #fff, 1631px 1555px #fff, 1273px 1705px #fff, 887px 330px #fff,
    1622px 818px #fff, 1471px 387px #fff, 1379px 440px #fff, 596px 1167px #fff,
    1256px 343px #fff, 219px 728px #fff, 1562px 840px #fff, 1494px 1955px #fff,
    201px 1595px #fff, 1191px 1749px #fff, 1145px 934px #fff, 1144px 1375px #fff,
    517px 1359px #fff, 1793px 517px #fff, 677px 1307px #fff, 1181px 1427px #fff,
    866px 1923px #fff, 1058px 514px #fff, 543px 836px #fff, 294px 1139px #fff,
    1528px 1508px #fff, 1291px 454px #fff, 450px 1637px #fff, 662px 871px #fff,
    1029px 1305px #fff, 514px 1361px #fff, 1742px 1146px #fff, 898px 1114px #fff,
    849px 1660px #fff, 1531px 76px #fff, 1965px 1335px #fff, 305px 261px #fff,
    1538px 283px #fff, 178px 598px #fff, 1558px 1252px #fff, 1141px 203px #fff,
    1166px 598px #fff, 248px 1097px #fff, 561px 650px #fff, 1910px 1975px #fff,
    22px 1741px #fff, 883px 458px #fff, 338px 584px #fff, 833px 471px #fff,
    956px 207px #fff, 1579px 264px #fff, 1351px 923px #fff, 1432px 1px #fff,
    1473px 1175px #fff, 1357px 536px #fff, 154px 1582px #fff, 1141px 1369px #fff,
    901px 342px #fff, 1939px 2000px #fff, 396px 887px #fff, 1070px 837px #fff,
    1098px 1081px #fff, 28px 219px #fff, 1839px 284px #fff, 653px 145px #fff,
    1911px 358px #fff, 303px 1779px #fff, 876px 1648px #fff, 1763px 1278px #fff,
    1904px 1948px #fff, 1200px 1836px #fff, 458px 801px #fff, 858px 803px #fff,
    1573px 1591px #fff, 1190px 292px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1998px 935px #fff, 1291px 1665px #fff, 271px 1249px #fff,
    249px 1555px #fff, 985px 1721px #fff, 1307px 1946px #fff, 859px 36px #fff,
    464px 234px #fff, 533px 177px #fff, 1284px 1697px #fff, 1256px 1473px #fff,
    1055px 712px #fff, 81px 1374px #fff, 1428px 438px #fff, 831px 562px #fff,
    684px 10px #fff, 452px 348px #fff, 1525px 995px #fff, 127px 136px #fff,
    1496px 1677px #fff, 1544px 1980px #fff, 924px 1921px #fff,
    1052px 1465px #fff, 1521px 1658px #fff, 30px 1953px #fff, 583px 228px #fff,
    1422px 410px #fff, 961px 824px #fff, 454px 1736px #fff, 1397px 1060px #fff,
    1928px 1049px #fff, 308px 25px #fff, 1678px 478px #fff, 374px 1515px #fff,
    487px 739px #fff, 318px 1687px #fff, 446px 1725px #fff, 530px 127px #fff,
    172px 840px #fff, 1552px 1720px #fff, 1259px 1513px #fff, 436px 1087px #fff,
    182px 1839px #fff, 1787px 1375px #fff, 1629px 1023px #fff,
    1839px 1547px #fff, 351px 7px #fff, 739px 382px #fff, 1178px 103px #fff,
    595px 37px #fff, 1202px 1085px #fff, 198px 1249px #fff, 621px 1143px #fff,
    456px 1872px #fff, 181px 770px #fff, 343px 624px #fff, 371px 279px #fff,
    897px 1610px #fff, 1771px 1249px #fff, 341px 425px #fff, 455px 1756px #fff,
    377px 1228px #fff, 395px 688px #fff, 365px 755px #fff, 1053px 1594px #fff,
    871px 696px #fff, 978px 1217px #fff, 1053px 731px #fff, 1653px 1464px #fff,
    1682px 945px #fff, 1464px 1268px #fff, 454px 125px #fff, 1429px 172px #fff,
    959px 466px #fff, 1848px 1748px #fff, 1631px 1652px #fff, 1732px 722px #fff,
    570px 941px #fff, 215px 1762px #fff, 1198px 906px #fff, 717px 427px #fff,
    1256px 1416px #fff, 128px 1957px #fff, 51px 245px #fff, 682px 635px #fff,
    1165px 919px #fff, 1440px 527px #fff, 247px 1755px #fff, 1462px 752px #fff,
    1026px 1175px #fff, 429px 1754px #fff, 680px 303px #fff, 745px 1781px #fff,
    1250px 1473px #fff, 693px 483px #fff, 519px 1092px #fff, 1632px 432px #fff,
    1469px 420px #fff, 87px 1057px #fff, 651px 75px #fff, 1342px 1830px #fff,
    1788px 974px #fff, 674px 134px #fff, 1528px 771px #fff, 1930px 30px #fff,
    1089px 796px #fff, 1505px 1263px #fff, 621px 1259px #fff, 522px 793px #fff,
    407px 1610px #fff, 179px 1104px #fff, 636px 511px #fff, 125px 1633px #fff,
    554px 1429px #fff, 511px 78px #fff, 587px 1299px #fff, 1980px 1567px #fff,
    279px 1530px #fff, 1752px 312px #fff, 983px 1511px #fff, 1388px 711px #fff,
    1518px 763px #fff, 1703px 510px #fff, 1px 868px #fff, 1508px 806px #fff,
    632px 751px #fff, 659px 458px #fff, 1639px 927px #fff, 593px 1383px #fff,
    720px 1821px #fff, 187px 478px #fff, 33px 1792px #fff, 911px 1244px #fff,
    436px 1983px #fff, 1544px 1142px #fff, 1676px 1519px #fff, 904px 192px #fff,
    642px 1351px #fff, 1174px 1847px #fff, 527px 674px #fff, 1809px 480px #fff,
    1667px 536px #fff, 1392px 1785px #fff, 751px 1411px #fff, 621px 1091px #fff,
    457px 657px #fff, 77px 1025px #fff, 977px 975px #fff, 284px 1330px #fff,
    1519px 107px #fff, 117px 1755px #fff, 669px 914px #fff, 1135px 1627px #fff,
    609px 1676px #fff, 39px 1637px #fff, 1645px 1440px #fff, 829px 20px #fff,
    268px 665px #fff, 1356px 489px #fff, 1644px 663px #fff, 235px 365px #fff,
    1197px 904px #fff, 287px 1810px #fff, 39px 301px #fff, 808px 480px #fff,
    1824px 1673px #fff, 1301px 1133px #fff, 1430px 10px #fff, 1538px 980px #fff,
    1055px 918px #fff, 639px 791px #fff, 1978px 1185px #fff, 370px 1027px #fff,
    706px 684px #fff, 592px 1977px #fff, 347px 1438px #fff, 126px 1117px #fff,
    1803px 1141px #fff, 1918px 1868px #fff, 1896px 196px #fff, 1910px 279px #fff,
    1917px 1543px #fff, 557px 503px #fff, 407px 342px #fff, 1607px 15px #fff,
    1486px 913px #fff, 1246px 847px #fff, 1876px 495px #fff, 1213px 316px #fff,
    1624px 210px #fff, 677px 1694px #fff, 932px 1608px #fff, 879px 1023px #fff,
    241px 665px #fff, 1716px 713px #fff, 1097px 1094px #fff, 1335px 1704px #fff,
    1826px 683px #fff, 66px 348px #fff, 101px 1404px #fff, 1104px 1465px #fff,
    663px 1908px #fff, 607px 170px #fff, 70px 984px #fff, 795px 442px #fff,
    1748px 1960px #fff, 100px 372px #fff, 1079px 566px #fff, 893px 1786px #fff,
    334px 1924px #fff, 812px 951px #fff, 1471px 614px #fff, 1602px 1949px #fff,
    625px 1222px #fff, 123px 1041px #fff, 1823px 318px #fff, 1020px 465px #fff,
    1823px 1267px #fff, 1981px 1130px #fff, 76px 994px #fff, 463px 703px #fff,
    1706px 1747px #fff, 1887px 1485px #fff, 661px 1754px #fff,
    1896px 1921px #fff, 377px 906px #fff, 1011px 1571px #fff, 1110px 297px #fff,
    113px 807px #fff, 1462px 1136px #fff, 405px 1558px #fff, 1067px 356px #fff,
    63px 47px #fff, 842px 1385px #fff, 1607px 308px #fff, 1440px 1104px #fff,
    218px 898px #fff, 1886px 668px #fff, 1622px 1297px #fff, 136px 1962px #fff,
    900px 318px #fff, 1411px 666px #fff, 617px 1055px #fff, 1800px 1850px #fff,
    1px 1492px #fff, 1992px 1312px #fff, 1832px 1488px #fff, 314px 1800px #fff,
    678px 1029px #fff, 624px 1796px #fff, 1822px 898px #fff, 157px 1331px #fff,
    744px 1133px #fff, 854px 734px #fff, 1099px 174px #fff, 1510px 406px #fff,
    360px 1828px #fff, 38px 1576px #fff, 125px 1px #fff, 12px 955px #fff,
    1452px 646px #fff, 1319px 70px #fff, 1431px 732px #fff, 1217px 1408px #fff,
    608px 1850px #fff, 1325px 866px #fff, 1316px 1256px #fff, 982px 1139px #fff,
    781px 1550px #fff, 936px 22px #fff, 31px 1123px #fff, 1232px 1473px #fff,
    398px 1708px #fff, 1477px 1906px #fff, 1149px 860px #fff, 1042px 430px #fff,
    26px 72px #fff, 1065px 255px #fff, 1112px 1422px #fff, 592px 946px #fff,
    673px 55px #fff, 61px 676px #fff, 867px 1996px #fff, 381px 259px #fff,
    1680px 1523px #fff, 736px 513px #fff, 1408px 212px #fff, 707px 1785px #fff,
    523px 1495px #fff, 226px 1583px #fff, 1079px 1836px #fff, 148px 9px #fff,
    1963px 1642px #fff, 300px 93px #fff, 608px 687px #fff, 1863px 1612px #fff,
    344px 608px #fff, 1656px 534px #fff, 585px 931px #fff, 1029px 135px #fff,
    686px 128px #fff, 866px 1603px #fff, 189px 578px #fff, 663px 909px #fff,
    1260px 475px #fff, 1290px 397px #fff, 1093px 845px #fff, 1716px 1211px #fff,
    1573px 5px #fff, 1562px 1928px #fff, 1827px 838px #fff, 1438px 1091px #fff,
    950px 391px #fff, 54px 92px #fff, 541px 1163px #fff, 1230px 1005px #fff,
    1902px 336px #fff, 498px 1027px #fff, 1680px 1664px #fff, 1694px 1962px #fff,
    82px 1942px #fff, 914px 793px #fff, 48px 738px #fff, 797px 1337px #fff,
    1171px 86px #fff, 972px 434px #fff, 190px 402px #fff, 479px 1815px #fff,
    288px 779px #fff, 869px 1859px #fff, 867px 896px #fff, 1354px 1784px #fff,
    413px 1753px #fff, 1524px 409px #fff, 1374px 1585px #fff, 1987px 494px #fff,
    629px 648px #fff, 261px 1393px #fff, 392px 947px #fff, 1146px 889px #fff,
    1606px 99px #fff, 1236px 631px #fff, 1616px 912px #fff, 870px 412px #fff,
    115px 440px #fff, 1389px 389px #fff, 1829px 567px #fff, 558px 1456px #fff,
    56px 1338px #fff, 652px 1897px #fff, 323px 1327px #fff, 1828px 1546px #fff,
    369px 1771px #fff, 1937px 1913px #fff, 1222px 859px #fff, 12px 1906px #fff,
    1069px 1227px #fff, 338px 642px #fff, 1924px 521px #fff, 1849px 650px #fff,
    478px 1425px #fff, 1277px 1853px #fff, 601px 133px #fff, 1441px 1292px #fff,
    1174px 1433px #fff, 751px 1093px #fff, 1898px 1518px #fff, 595px 1810px #fff,
    205px 1335px #fff, 741px 1940px #fff, 588px 696px #fff, 1351px 1263px #fff,
    1174px 1831px #fff, 610px 1911px #fff, 1490px 45px #fff, 788px 1486px #fff,
    23px 530px #fff, 716px 1981px #fff, 965px 648px #fff, 671px 1916px #fff,
    252px 968px #fff, 1787px 843px #fff, 1069px 190px #fff, 1609px 761px #fff,
    1431px 646px #fff, 1476px 1985px #fff, 124px 1302px #fff, 1671px 904px #fff,
    396px 1805px #fff, 1509px 1513px #fff, 950px 994px #fff, 1568px 700px #fff,
    176px 553px #fff, 1031px 1510px #fff, 100px 1531px #fff, 287px 60px #fff,
    865px 766px #fff, 637px 1540px #fff, 214px 116px #fff, 955px 1669px #fff,
    214px 1378px #fff, 955px 139px #fff, 1320px 501px #fff, 125px 1746px #fff,
    245px 54px #fff, 1084px 1774px #fff, 267px 621px #fff, 662px 1274px #fff,
    1272px 827px #fff, 1540px 78px #fff, 1620px 1201px #fff, 287px 1445px #fff,
    1894px 1664px #fff, 1431px 1502px #fff, 1140px 810px #fff, 1455px 167px #fff,
    653px 697px #fff, 187px 1328px #fff, 1504px 77px #fff, 328px 380px #fff,
    373px 596px #fff, 1041px 1691px #fff, 1829px 834px #fff, 1801px 1564px #fff,
    220px 1231px #fff, 410px 1024px #fff, 1899px 1393px #fff, 1608px 1733px #fff,
    779px 1951px #fff, 998px 228px #fff, 264px 500px #fff, 553px 1741px #fff,
    1306px 1782px #fff, 1764px 358px #fff, 709px 937px #fff, 1886px 1560px #fff,
    878px 60px #fff, 1239px 1224px #fff, 224px 1183px #fff, 1798px 535px #fff,
    84px 192px #fff, 264px 878px #fff, 1087px 486px #fff, 953px 1518px #fff,
    1670px 843px #fff, 1511px 1230px #fff, 1255px 170px #fff, 562px 558px #fff,
    236px 1008px #fff, 1163px 1363px #fff, 1023px 715px #fff, 1695px 1890px #fff,
    1342px 674px #fff, 515px 1684px #fff, 1760px 244px #fff, 530px 182px #fff,
    1751px 729px #fff, 89px 90px #fff, 1410px 1177px #fff, 156px 1702px #fff,
    697px 1966px #fff, 1328px 906px #fff, 1394px 1943px #fff, 525px 1695px #fff,
    171px 673px #fff, 549px 1843px #fff, 1579px 1353px #fff, 1038px 484px #fff,
    456px 180px #fff, 356px 1832px #fff, 1367px 236px #fff, 1189px 41px #fff,
    526px 1642px #fff, 1081px 713px #fff, 904px 1105px #fff, 1694px 1713px #fff,
    1948px 147px #fff, 1071px 1113px #fff, 1364px 948px #fff, 914px 79px #fff,
    1153px 432px #fff, 391px 619px #fff, 510px 297px #fff, 1097px 1479px #fff,
    1924px 4px #fff, 1933px 968px #fff, 497px 1383px #fff, 12px 1112px #fff,
    1721px 1308px #fff, 1442px 1098px #fff, 1750px 961px #fff, 633px 737px #fff,
    1388px 508px #fff, 852px 316px #fff, 1433px 291px #fff, 1407px 1714px #fff,
    105px 971px #fff, 161px 717px #fff, 740px 1710px #fff, 809px 1129px #fff,
    767px 318px #fff, 1346px 1036px #fff, 835px 1632px #fff, 669px 879px #fff,
    1746px 1790px #fff, 1553px 1918px #fff, 735px 1267px #fff, 1079px 776px #fff,
    1963px 183px #fff, 1498px 797px #fff, 1804px 1094px #fff, 1449px 1728px #fff,
    168px 1526px #fff, 1032px 1493px #fff, 1488px 1836px #fff, 1739px 329px #fff,
    1801px 1451px #fff, 1424px 1280px #fff, 1232px 1136px #fff,
    1209px 924px #fff, 1697px 49px #fff, 1185px 1663px #fff, 1971px 1694px #fff,
    1420px 319px #fff, 292px 368px #fff, 1755px 1479px #fff, 292px 392px #fff,
    1678px 1654px #fff, 1100px 201px #fff, 1418px 496px #fff, 1220px 1565px #fff,
    1928px 1835px #fff, 1514px 1418px #fff, 523px 149px #fff, 1447px 695px #fff,
    427px 759px #fff, 653px 1011px #fff, 795px 1908px #fff, 314px 1220px #fff,
    501px 1435px #fff, 1519px 1412px #fff, 88px 429px #fff, 1903px 180px #fff,
    946px 1333px #fff, 1387px 523px #fff, 1112px 485px #fff, 1832px 759px #fff,
    416px 1816px #fff, 948px 522px #fff, 889px 1539px #fff, 1274px 1554px #fff,
    14px 932px #fff, 1387px 112px #fff, 510px 83px #fff, 1454px 1633px #fff,
    1036px 838px #fff, 1709px 1323px #fff, 1402px 1127px #fff,
    1346px 1041px #fff, 1342px 241px #fff, 1064px 783px #fff, 238px 1477px #fff,
    422px 555px #fff, 1681px 202px #fff, 1855px 1470px #fff, 1929px 940px #fff,
    616px 1659px #fff, 914px 651px #fff, 951px 444px #fff, 1256px 105px #fff,
    673px 1090px #fff, 1884px 764px #fff, 441px 330px #fff, 1755px 1243px #fff,
    1565px 369px #fff, 1564px 42px #fff, 1050px 1053px #fff, 11px 246px #fff,
    197px 452px #fff, 589px 579px #fff, 1748px 850px #fff, 1261px 1096px #fff,
    1125px 623px #fff, 600px 1291px #fff, 1992px 68px #fff, 1615px 490px #fff,
    896px 947px #fff, 1258px 1195px #fff, 489px 1012px #fff, 542px 1289px #fff,
    1664px 589px #fff, 304px 939px #fff, 1145px 1382px #fff, 1396px 1047px #fff,
    578px 143px #fff, 1232px 34px #fff, 271px 1402px #fff, 559px 1926px #fff,
    1214px 879px #fff, 207px 1714px #fff, 293px 377px #fff, 880px 1846px #fff,
    332px 382px #fff, 1468px 42px #fff, 1636px 230px #fff, 316px 1766px #fff,
    1933px 1425px #fff, 1327px 1683px #fff, 1590px 1224px #fff, 287px 267px #fff,
    1912px 582px #fff, 1726px 1538px #fff, 11px 131px #fff, 1795px 6px #fff,
    590px 974px #fff, 400px 372px #fff, 1707px 129px #fff, 176px 362px #fff,
    90px 780px #fff, 1161px 1145px #fff, 1329px 1967px #fff, 1268px 1035px #fff,
    1313px 626px #fff, 1544px 1808px #fff, 1057px 1673px #fff, 658px 1778px #fff,
    63px 1510px #fff, 1631px 1555px #fff, 1273px 1705px #fff, 887px 330px #fff,
    1622px 818px #fff, 1471px 387px #fff, 1379px 440px #fff, 596px 1167px #fff,
    1256px 343px #fff, 219px 728px #fff, 1562px 840px #fff, 1494px 1955px #fff,
    201px 1595px #fff, 1191px 1749px #fff, 1145px 934px #fff, 1144px 1375px #fff,
    517px 1359px #fff, 1793px 517px #fff, 677px 1307px #fff, 1181px 1427px #fff,
    866px 1923px #fff, 1058px 514px #fff, 543px 836px #fff, 294px 1139px #fff,
    1528px 1508px #fff, 1291px 454px #fff, 450px 1637px #fff, 662px 871px #fff,
    1029px 1305px #fff, 514px 1361px #fff, 1742px 1146px #fff, 898px 1114px #fff,
    849px 1660px #fff, 1531px 76px #fff, 1965px 1335px #fff, 305px 261px #fff,
    1538px 283px #fff, 178px 598px #fff, 1558px 1252px #fff, 1141px 203px #fff,
    1166px 598px #fff, 248px 1097px #fff, 561px 650px #fff, 1910px 1975px #fff,
    22px 1741px #fff, 883px 458px #fff, 338px 584px #fff, 833px 471px #fff,
    956px 207px #fff, 1579px 264px #fff, 1351px 923px #fff, 1432px 1px #fff,
    1473px 1175px #fff, 1357px 536px #fff, 154px 1582px #fff, 1141px 1369px #fff,
    901px 342px #fff, 1939px 2000px #fff, 396px 887px #fff, 1070px 837px #fff,
    1098px 1081px #fff, 28px 219px #fff, 1839px 284px #fff, 653px 145px #fff,
    1911px 358px #fff, 303px 1779px #fff, 876px 1648px #fff, 1763px 1278px #fff,
    1904px 1948px #fff, 1200px 1836px #fff, 458px 801px #fff, 858px 803px #fff,
    1573px 1591px #fff, 1190px 292px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 664px 1333px #fff, 67px 770px #fff, 1452px 1894px #fff,
    1587px 1382px #fff, 1267px 386px #fff, 1758px 301px #fff, 455px 1185px #fff,
    304px 1263px #fff, 874px 1595px #fff, 1834px 1733px #fff, 575px 710px #fff,
    1606px 1757px #fff, 1493px 1616px #fff, 803px 1893px #fff,
    1864px 1123px #fff, 1491px 35px #fff, 1533px 1074px #fff, 1715px 998px #fff,
    1874px 1625px #fff, 966px 502px #fff, 1919px 1466px #fff, 1284px 1844px #fff,
    1307px 693px #fff, 567px 69px #fff, 1873px 1348px #fff, 1925px 31px #fff,
    1087px 760px #fff, 107px 531px #fff, 276px 500px #fff, 902px 115px #fff,
    1331px 510px #fff, 470px 1730px #fff, 808px 1905px #fff, 638px 341px #fff,
    974px 1245px #fff, 1233px 787px #fff, 878px 1457px #fff, 1309px 1134px #fff,
    1600px 711px #fff, 30px 10px #fff, 950px 198px #fff, 1307px 1262px #fff,
    1051px 1938px #fff, 1438px 959px #fff, 257px 80px #fff, 756px 1236px #fff,
    696px 156px #fff, 432px 1446px #fff, 1586px 1009px #fff, 812px 1354px #fff,
    488px 123px #fff, 979px 1075px #fff, 495px 1970px #fff, 1886px 1601px #fff,
    1586px 946px #fff, 1306px 1568px #fff, 357px 1979px #fff, 319px 1344px #fff,
    1114px 447px #fff, 1308px 809px #fff, 466px 1577px #fff, 554px 1135px #fff,
    584px 1566px #fff, 171px 578px #fff, 1020px 1409px #fff, 5px 1005px #fff,
    1345px 803px #fff, 1475px 1910px #fff, 1254px 47px #fff, 1417px 1569px #fff,
    1787px 944px #fff, 1829px 1199px #fff, 745px 193px #fff, 1653px 1103px #fff,
    1056px 808px #fff, 871px 310px #fff, 1035px 1466px #fff, 1816px 1568px #fff,
    611px 677px #fff, 413px 789px #fff, 1740px 1706px #fff, 881px 1173px #fff,
    1545px 49px #fff, 1527px 1322px #fff, 380px 247px #fff, 166px 426px #fff,
    1160px 1909px #fff, 549px 1895px #fff, 10px 1304px #fff, 1199px 733px #fff,
    1764px 144px #fff, 1738px 1829px #fff, 582px 1586px #fff, 1503px 1035px #fff,
    1708px 342px #fff, 1240px 1551px #fff, 1595px 1814px #fff, 1138px 329px #fff,
    1461px 1189px #fff, 1991px 1462px #fff, 345px 1973px #fff,
    1594px 1531px #fff, 1325px 138px #fff, 1080px 1082px #fff, 888px 1783px #fff,
    949px 1300px #fff, 1669px 310px #fff, 1791px 106px #fff, 1737px 704px #fff,
    492px 1272px #fff, 1192px 246px #fff, 1072px 1955px #fff, 1719px 467px #fff,
    956px 1558px #fff, 123px 1891px #fff, 553px 1099px #fff, 1354px 666px #fff,
    1448px 1450px #fff, 1413px 959px #fff, 269px 691px #fff, 1236px 880px #fff,
    1956px 1047px #fff, 1597px 1924px #fff, 953px 34px #fff, 1261px 1747px #fff,
    208px 1699px #fff, 326px 1402px #fff, 215px 1423px #fff, 400px 1561px #fff,
    1136px 619px #fff, 1735px 750px #fff, 961px 1232px #fff, 1808px 1077px #fff,
    1001px 1619px #fff, 1905px 311px #fff, 429px 1728px #fff, 785px 640px #fff,
    1069px 305px #fff, 650px 445px #fff, 569px 1983px #fff, 1569px 961px #fff,
    1352px 1535px #fff, 1055px 819px #fff, 940px 926px #fff, 1335px 1064px #fff,
    1772px 1670px #fff, 465px 1901px #fff, 1763px 1835px #fff, 1646px 450px #fff,
    1516px 1119px #fff, 728px 1632px #fff, 1443px 109px #fff, 267px 1729px #fff,
    1872px 1349px #fff, 1990px 1232px #fff, 1673px 1599px #fff,
    1669px 446px #fff, 1540px 1140px #fff, 359px 1400px #fff, 468px 1398px #fff,
    1942px 812px #fff, 631px 854px #fff, 1836px 677px #fff, 1043px 1997px #fff,
    1037px 820px #fff, 470px 1034px #fff, 870px 1884px #fff, 1815px 1595px #fff,
    1068px 666px #fff, 233px 1156px #fff, 1722px 1682px #fff, 516px 377px #fff,
    1663px 1452px #fff, 383px 1245px #fff, 6px 375px #fff, 726px 1399px #fff,
    276px 499px #fff, 377px 1147px #fff, 153px 236px #fff, 1880px 1486px #fff,
    1636px 1558px #fff, 358px 394px #fff, 1742px 1864px #fff, 1671px 1375px #fff,
    708px 1785px #fff, 1379px 1459px #fff, 1230px 1858px #fff, 886px 1304px #fff,
    1996px 1535px #fff, 783px 808px #fff, 1275px 1489px #fff, 1908px 965px #fff,
    763px 1731px #fff, 1676px 1800px #fff, 728px 783px #fff, 243px 473px #fff,
    1321px 1621px #fff, 1711px 660px #fff, 908px 1484px #fff, 1267px 1606px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 664px 1333px #fff, 67px 770px #fff, 1452px 1894px #fff,
    1587px 1382px #fff, 1267px 386px #fff, 1758px 301px #fff, 455px 1185px #fff,
    304px 1263px #fff, 874px 1595px #fff, 1834px 1733px #fff, 575px 710px #fff,
    1606px 1757px #fff, 1493px 1616px #fff, 803px 1893px #fff,
    1864px 1123px #fff, 1491px 35px #fff, 1533px 1074px #fff, 1715px 998px #fff,
    1874px 1625px #fff, 966px 502px #fff, 1919px 1466px #fff, 1284px 1844px #fff,
    1307px 693px #fff, 567px 69px #fff, 1873px 1348px #fff, 1925px 31px #fff,
    1087px 760px #fff, 107px 531px #fff, 276px 500px #fff, 902px 115px #fff,
    1331px 510px #fff, 470px 1730px #fff, 808px 1905px #fff, 638px 341px #fff,
    974px 1245px #fff, 1233px 787px #fff, 878px 1457px #fff, 1309px 1134px #fff,
    1600px 711px #fff, 30px 10px #fff, 950px 198px #fff, 1307px 1262px #fff,
    1051px 1938px #fff, 1438px 959px #fff, 257px 80px #fff, 756px 1236px #fff,
    696px 156px #fff, 432px 1446px #fff, 1586px 1009px #fff, 812px 1354px #fff,
    488px 123px #fff, 979px 1075px #fff, 495px 1970px #fff, 1886px 1601px #fff,
    1586px 946px #fff, 1306px 1568px #fff, 357px 1979px #fff, 319px 1344px #fff,
    1114px 447px #fff, 1308px 809px #fff, 466px 1577px #fff, 554px 1135px #fff,
    584px 1566px #fff, 171px 578px #fff, 1020px 1409px #fff, 5px 1005px #fff,
    1345px 803px #fff, 1475px 1910px #fff, 1254px 47px #fff, 1417px 1569px #fff,
    1787px 944px #fff, 1829px 1199px #fff, 745px 193px #fff, 1653px 1103px #fff,
    1056px 808px #fff, 871px 310px #fff, 1035px 1466px #fff, 1816px 1568px #fff,
    611px 677px #fff, 413px 789px #fff, 1740px 1706px #fff, 881px 1173px #fff,
    1545px 49px #fff, 1527px 1322px #fff, 380px 247px #fff, 166px 426px #fff,
    1160px 1909px #fff, 549px 1895px #fff, 10px 1304px #fff, 1199px 733px #fff,
    1764px 144px #fff, 1738px 1829px #fff, 582px 1586px #fff, 1503px 1035px #fff,
    1708px 342px #fff, 1240px 1551px #fff, 1595px 1814px #fff, 1138px 329px #fff,
    1461px 1189px #fff, 1991px 1462px #fff, 345px 1973px #fff,
    1594px 1531px #fff, 1325px 138px #fff, 1080px 1082px #fff, 888px 1783px #fff,
    949px 1300px #fff, 1669px 310px #fff, 1791px 106px #fff, 1737px 704px #fff,
    492px 1272px #fff, 1192px 246px #fff, 1072px 1955px #fff, 1719px 467px #fff,
    956px 1558px #fff, 123px 1891px #fff, 553px 1099px #fff, 1354px 666px #fff,
    1448px 1450px #fff, 1413px 959px #fff, 269px 691px #fff, 1236px 880px #fff,
    1956px 1047px #fff, 1597px 1924px #fff, 953px 34px #fff, 1261px 1747px #fff,
    208px 1699px #fff, 326px 1402px #fff, 215px 1423px #fff, 400px 1561px #fff,
    1136px 619px #fff, 1735px 750px #fff, 961px 1232px #fff, 1808px 1077px #fff,
    1001px 1619px #fff, 1905px 311px #fff, 429px 1728px #fff, 785px 640px #fff,
    1069px 305px #fff, 650px 445px #fff, 569px 1983px #fff, 1569px 961px #fff,
    1352px 1535px #fff, 1055px 819px #fff, 940px 926px #fff, 1335px 1064px #fff,
    1772px 1670px #fff, 465px 1901px #fff, 1763px 1835px #fff, 1646px 450px #fff,
    1516px 1119px #fff, 728px 1632px #fff, 1443px 109px #fff, 267px 1729px #fff,
    1872px 1349px #fff, 1990px 1232px #fff, 1673px 1599px #fff,
    1669px 446px #fff, 1540px 1140px #fff, 359px 1400px #fff, 468px 1398px #fff,
    1942px 812px #fff, 631px 854px #fff, 1836px 677px #fff, 1043px 1997px #fff,
    1037px 820px #fff, 470px 1034px #fff, 870px 1884px #fff, 1815px 1595px #fff,
    1068px 666px #fff, 233px 1156px #fff, 1722px 1682px #fff, 516px 377px #fff,
    1663px 1452px #fff, 383px 1245px #fff, 6px 375px #fff, 726px 1399px #fff,
    276px 499px #fff, 377px 1147px #fff, 153px 236px #fff, 1880px 1486px #fff,
    1636px 1558px #fff, 358px 394px #fff, 1742px 1864px #fff, 1671px 1375px #fff,
    708px 1785px #fff, 1379px 1459px #fff, 1230px 1858px #fff, 886px 1304px #fff,
    1996px 1535px #fff, 783px 808px #fff, 1275px 1489px #fff, 1908px 965px #fff,
    763px 1731px #fff, 1676px 1800px #fff, 728px 783px #fff, 243px 473px #fff,
    1321px 1621px #fff, 1711px 660px #fff, 908px 1484px #fff, 1267px 1606px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1039px 922px #fff, 1033px 541px #fff, 382px 1010px #fff,
    1898px 186px #fff, 1088px 1741px #fff, 247px 985px #fff, 1426px 724px #fff,
    1472px 1281px #fff, 1475px 876px #fff, 1545px 130px #fff, 669px 1331px #fff,
    1672px 1942px #fff, 836px 169px #fff, 813px 1170px #fff, 761px 1158px #fff,
    1906px 1040px #fff, 1327px 231px #fff, 548px 1036px #fff, 237px 341px #fff,
    1604px 866px #fff, 1463px 1758px #fff, 718px 264px #fff, 189px 1171px #fff,
    1745px 1013px #fff, 1468px 1783px #fff, 1704px 1145px #fff,
    1424px 1634px #fff, 1469px 305px #fff, 1663px 538px #fff, 1660px 1155px #fff,
    457px 203px #fff, 849px 693px #fff, 658px 261px #fff, 488px 520px #fff,
    716px 340px #fff, 1865px 1826px #fff, 1891px 1582px #fff, 1028px 853px #fff,
    1271px 1475px #fff, 1295px 1796px #fff, 1814px 1772px #fff,
    491px 1932px #fff, 1791px 1737px #fff, 66px 1204px #fff, 119px 1453px #fff,
    1463px 1503px #fff, 809px 689px #fff, 375px 1518px #fff, 460px 252px #fff,
    1207px 1545px #fff, 1768px 4px #fff, 1400px 1051px #fff, 788px 66px #fff,
    1296px 685px #fff, 141px 881px #fff, 1505px 735px #fff, 1765px 256px #fff,
    492px 1920px #fff, 230px 1809px #fff, 301px 1339px #fff, 1587px 1637px #fff,
    1363px 204px #fff, 1062px 1480px #fff, 97px 400px #fff, 1739px 1634px #fff,
    118px 1503px #fff, 1556px 1189px #fff, 436px 446px #fff, 467px 104px #fff,
    988px 1856px #fff, 142px 1693px #fff, 741px 342px #fff, 1828px 377px #fff,
    1715px 1260px #fff, 7px 16px #fff, 602px 591px #fff, 119px 185px #fff,
    1633px 1710px #fff, 834px 1733px #fff, 1082px 1714px #fff, 525px 1407px #fff,
    465px 245px #fff, 615px 883px #fff, 115px 368px #fff, 145px 1553px #fff,
    329px 555px #fff, 263px 167px #fff, 809px 1866px #fff, 531px 1557px #fff,
    1908px 861px #fff, 1512px 286px #fff, 954px 1316px #fff, 97px 1720px #fff,
    205px 405px #fff, 331px 1490px #fff, 1724px 1534px #fff, 195px 1985px #fff,
    1689px 1526px #fff, 176px 437px #fff, 1235px 101px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1039px 922px #fff, 1033px 541px #fff, 382px 1010px #fff,
    1898px 186px #fff, 1088px 1741px #fff, 247px 985px #fff, 1426px 724px #fff,
    1472px 1281px #fff, 1475px 876px #fff, 1545px 130px #fff, 669px 1331px #fff,
    1672px 1942px #fff, 836px 169px #fff, 813px 1170px #fff, 761px 1158px #fff,
    1906px 1040px #fff, 1327px 231px #fff, 548px 1036px #fff, 237px 341px #fff,
    1604px 866px #fff, 1463px 1758px #fff, 718px 264px #fff, 189px 1171px #fff,
    1745px 1013px #fff, 1468px 1783px #fff, 1704px 1145px #fff,
    1424px 1634px #fff, 1469px 305px #fff, 1663px 538px #fff, 1660px 1155px #fff,
    457px 203px #fff, 849px 693px #fff, 658px 261px #fff, 488px 520px #fff,
    716px 340px #fff, 1865px 1826px #fff, 1891px 1582px #fff, 1028px 853px #fff,
    1271px 1475px #fff, 1295px 1796px #fff, 1814px 1772px #fff,
    491px 1932px #fff, 1791px 1737px #fff, 66px 1204px #fff, 119px 1453px #fff,
    1463px 1503px #fff, 809px 689px #fff, 375px 1518px #fff, 460px 252px #fff,
    1207px 1545px #fff, 1768px 4px #fff, 1400px 1051px #fff, 788px 66px #fff,
    1296px 685px #fff, 141px 881px #fff, 1505px 735px #fff, 1765px 256px #fff,
    492px 1920px #fff, 230px 1809px #fff, 301px 1339px #fff, 1587px 1637px #fff,
    1363px 204px #fff, 1062px 1480px #fff, 97px 400px #fff, 1739px 1634px #fff,
    118px 1503px #fff, 1556px 1189px #fff, 436px 446px #fff, 467px 104px #fff,
    988px 1856px #fff, 142px 1693px #fff, 741px 342px #fff, 1828px 377px #fff,
    1715px 1260px #fff, 7px 16px #fff, 602px 591px #fff, 119px 185px #fff,
    1633px 1710px #fff, 834px 1733px #fff, 1082px 1714px #fff, 525px 1407px #fff,
    465px 245px #fff, 615px 883px #fff, 115px 368px #fff, 145px 1553px #fff,
    329px 555px #fff, 263px 167px #fff, 809px 1866px #fff, 531px 1557px #fff,
    1908px 861px #fff, 1512px 286px #fff, 954px 1316px #fff, 97px 1720px #fff,
    205px 405px #fff, 331px 1490px #fff, 1724px 1534px #fff, 195px 1985px #fff,
    1689px 1526px #fff, 176px 437px #fff, 1235px 101px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
